
.chip
{
    position: absolute;
    left: 0px;
    top: -75px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
}
.chipindex
{
    z-index: 0;
}
.red
{
    background-color: rgb(236, 5, 5);
}
.yellow
{
    background-color: rgb(220, 241, 23);
}

.gray
{
    background-color: rgb(92, 92, 91);
}
.ring
{
    position: absolute;
    border: solid black 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 50%;
    bottom: 50%;
    margin: 0px 0px -30px -30px;
    background-image: radial-gradient(
        rgba(219, 208, 208, 0.473),
        rgba(70, 69, 69, 0),
        rgba(78, 78, 78, 0.568));

    background-color: rgba(0, 0, 0, 0.205);
}