
.startbtn{
    line-height: 1;
    font-size: 12px;
    margin-left: 5px;
}
.minibtn{  
    line-height: 1;
    height: 16px;
    width: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin-left: 2px;
}
.btn:hover {
    background-color: slateblue;
}
.dBorder{
    border: groove rgb(58, 57, 57) 5px;
}
.sideblock{
    display: inline-block;
    width: 300px;
    height: 480px;
    margin-left: 5px;
}
.screen{
    margin: auto;
    background-color: #00917c;
    padding: 5px;
}
.cont{
    text-align: center;
}
.sideheader{
    border-bottom: solid black 2px;
}
.sideheader label{
    text-decoration: underline;   
    font-size: 40px;
    font-weight: 900;
}
.sidesubh label{
    font-size: 16px;
    font-weight: 700;
}
.adjRoundholder{
    margin: 5px;
    display: flex;
    border: solid black 2px;
    padding: 5px;
}
.adjbtnholder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.roundnumber{
    height: 24px;
    width: 50px;
    margin: 0px 2px 0px 5px;
}
.boards{
    display: flex;
}
.border-s{
    border: solid black 1px;
}
.border-m{
    border: solid black 2px;
}
